@charset "utf-8";

@media (max-width: 600px) {
    html,body{
        overflow-x:hidden;
    }
}

/* img{
    max-width:100%;
    width:100%;
    height:auto;
    display:block;
} */

@media (max-width: 600px) {
    section {
        padding-left:20px;
        padding-right:20px;
    }
}

@media (max-width: 600px) {
    header {
        padding: 10px 15px;
    }
}

header {
    flex-direction: column;
    align-items: center;
    gap: 0;
    height: auto;
}

header img {
    margin: auto;
}

header nav {
    margin: 0;
}

header nav a{
    font-size:14px;
    white-space: nowrap;
}

.logo{
    font-size:18px;
}

/* @media (max-width: 600px) {
    .contact-image img {
        width:100%;
        height:auto;
        display:block;
    }
} */

#firstview {
    font-size: 4vh;
}


#totheprofile {
    flex-direction: column;
    /* text-align: center; */
}

#totheprofile #name {
    width: 80vw;
}
#totheprofile #name p {
    font-size: 2.5rem;
}

#totheprofile #name img {
    text-align: right;
}

/* ここまでtop */

/* ここからportfolio */

